---
import Social from "./Social.astro";

const platforms = ["github", "instagram", "twitter"];
const username = "kaushikashok45";
---

<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  </style>

<footer>
   {platforms.map(platform => (
    <div>
        <Social username={username} platform={platform}></Social>
    </div>
   ))}
</footer>